<!DOCTYPE html>
<html ng-app="bookStore">
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
        <script type="application/javascript" src="angular.min.js"></script>
        <script type="text/javascript" src="app.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div ng-controller="StoreController as store">
                <div class ='row'>
                    <H1 style="text-align:center">
                        {{"Ma librairie en Ligne"}}
                    </H1>
                    <H3 style="text-align:center">
                        {{"Tous les tomes à 8€"}}
                    </H3>
                </div>
                <div class ='row'>
                    <div class="col-xs-offset-1 col-md-offset-2 col-lg-offset-2 col-xs-10 col-md-8 col-lg-8">
                        <div id="myCarousel" class="carousel slide" data-ride="carousel">
                          <!-- Indicators -->
                          <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="{{productIndex}}" class="active" ng-repeat="product in store.products | orderBy: store.activeFilter : store.reverse track by $index " ng-init="productIndex = $index" ></li>
                          </ol>
                          <div class="carousel-inner" role="listbox" ng-repeat="product in store.products | orderBy: store.activeFilter : store.reverse track by $index " ng-init="productIndex = $index">
                            <div class="item active" ng-show ="productIndex==0">
                                <img src="{{product.image}}" alt="{{product.name}}">
                            </div>
                            <div class="item" ng-show ="productIndex!=0">
                              <img src="{{product.image}}" alt="{{product.name}}">
                            </div>

                        </div>
                          <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                            <span class="sr-only">Previous</span>
                          </a>
                          <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                            <span class="sr-only">Next</span>
                          </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class ='row'>
                <table ng-repeat="product in store.products | orderBy: store.activeFilter" class="table table-striped" style="max-width:800px;display:inline-table;">
                    <thead style="cursor:pointer">
                        <th style="text-align:center">Image</th>
                        <th style="text-align:center" href ng_click="store.filterOn('name')">Nom</th>
                        <th style="text-align:center" href ng_click="store.filterOn('price')">Prix</th>
                        <th style="text-align:center">Commentaires</th>
                    </thead>
                    <tbody ng-show = "product.selected">
                        <tr>
                            <td style="vertical-align:middle"> <img src="{{images}}" style="width: 150px; height:150px"/>
                            <td style="vertical-align:middle">{{product.name}}</td>
                            <td style="vertical-align:middle">{{product.price | currency: '€' : 2}}</td>
                            <td style="width:150px;vertical-align:middle"><button class="btn btn-primary btn-block">Ajouter au panier</button></td>
                            <td style="vertical-align:middle">
                                <div ng-repeat="reviews in product.reviews">
                                    <div>
                                        Note : {{reviews.stars}} / 5 <br/>
                                        Message : {{reviews.body}} <br/>
                                        Auteur : {{reviews.author}} <br/>
                                        Date : {{reviews.createdOn | date : "dd/MM/yyyy"}} <br/><br/>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class = 'row' ng:controller="CartForm">
                <table class="table">
                    <tr>
                        <th>Nom</th>
                        <th>Qté</th>
                        <th>Prix</th>
                        <th>Total</th>
                        <th></th>
                    </tr>
                    <tr ng:repeat="item in invoice.items">
                        <td><input type="text" ng:model="item.description"class="input-small"></td>
                        <td><input type="number" ng:model="item.qty" ng:required class="input-mini"></td>
                        <td><input type="number" ng:model="item.cost" ng:required class="input-mini"></td>
                        <td>{{item.qty * item.cost | currency}}</td>
                        <td>
                            [<a href ng:click="removeItem($index)">X</a>]
                        </td>
                    </tr>
                    <tr>
                        <td><a href ng:click="addItem()" class="btn btn-small">add item</a></td>
                        <td></td>
                        <td>Total:</td>
                        <td>{{total() | currency}}</td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>
