<!DOCTYPE html>
<html ng-app="gemStore">
    <head>
        <link rel="stylesheet" type="text/css" href="bootstrap.min.css" />
    </head>

    <body ng-controller="StoreController as store" style="text-align:center">
        <script type="application/javascript" src="angular.min.js"></script>
        <script type="text/javascript" src="app.js"></script>

        <h1>{{"Bienvenue dans ma boutique de pierres précieuses"}}</h1>

        <section ng-init="store.selTab(1)" style="left:30%;">
            <ul class="nav nav-pills">
                <li ng-class="{'active' : store.isSelect(1)}"> <a href ng_click="store.selTab(1)">Photos</a></li>
                <li ng-class="{'active' : store.isSelect(2)}"> <a href ng_click="store.selTab(2)">Commentaires</a></li>
            </ul>
        </section>

        <table class="table table-striped" style="max-width:800px;display:inline-table;">
            <thead style="cursor:pointer">
                <th style="text-align:center" href ng_click="store.filterOn('name')">Nom</th>
                <th style="text-align:center" href ng_click="store.filterOn('description')">Description</th>
                <th style="text-align:center" href ng_click="store.filterOn('price')">Prix</th>
                <th style="text-align:center" href ng_click="store.filterOn('price')"></th>
                <th style="text-align:center">
                    <span ng-show="store.isSelect(1)">Photos</span>
                    <span ng-show="store.isSelect(2)">Commentaires</span>
                </th>
            </thead>
            <tbody>
                <tr ng-repeat="product in store.products | orderBy: store.activeFilter" ng-hide = "!product.enVente">
                    <td style="vertical-align:middle">{{product.name}}</td>
                    <td style="vertical-align:middle">{{product.description}}</td>
                    <td style="vertical-align:middle">{{product.price | currency: '€' : 2}}</td>
                    <td style="width:150px;vertical-align:middle">
                        <button class="btn btn-primary btn-block" ng-show="product.enStock">Ajouter au panier</button>
                        <button class="btn btn-warning btn-block" ng-show="!product.enStock" disabled>En Rupture</button>
                    </td>
                    <td style="vertical-align:middle">

                        <div ng-show="store.isSelect(1)" ng-repeat="images in product.images">
                            <span>
                                <img src="{{images}}" style="width: 20px; height:20px"/>
                            </span>
                        </div>
                        <div ng-show="store.isSelect(2)" ng-repeat="reviews in product.reviews">
                            <div>
                                Note : {{reviews.stars}} / 5 <br/>
                                Message : {{reviews.body}} <br/>
                                Auteur : {{reviews.author}} <br/>
                                Date : {{reviews.createdOn | date : "dd/MM/yyyy"}} <br/><br/>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </body>
</html>
